body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: rgb(199, 195, 195);
    line-height: 1.5;
}

body > header {
    background-color: blue;
}

h1 {
    padding-inline-start: 2rem;
    font-weight: 700;
    font-size: 2rem;
    color: white;
}

h2 {
    font-weight: 700;
    font-size: 1.7rem;
}

h3 {
    font-weight: 700;
    font-size: 1.4rem;
    padding-block-end: 1rem;
}

main {
    padding: 2rem;
}

.newBook {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


button {
	border: none;
	color: white;
	border-radius: 5px;
	cursor: pointer;
    background-color: blue;
    color: white;
}

.content {
    display: flex;
    flex-direction: row;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline-end: .5rem;
}

/* ===================================== */

.bookArticle {
    display: grid;
    grid-template-columns: 1fr;
    margin-block-start: 2rem;
    background-color: white;
}

.aboutBook {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: rgb(178, 178, 231);
    padding-block-start: 1rem;
    padding-block-end: 1rem;
}

.aboutBook > p {
    font-size: 1rem;
    text-transform: uppercase;
    padding-inline-end: 4rem;
}

.book-item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 2rem;
}

.delete {
    width: 2rem;
    height: 1rem;
}